@font-face {
    font-family: myFont;
    src: url(Ldfcomicsansbold-zgma.ttf);
}

body {
    background-color: #323232;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: myFont;
}

#needed,
#date,
#now {
    color: whitesmoke;
    font-size: clamp(18.2px, 5vw, 60px);
    white-space: nowrap;
    padding: 10px;
    border-radius: 10px;
}



.purple {
    background-color: rebeccapurple;
}

.green {
    background-color: #8ace00;
    color: black;
}